In [3]:
def total(a,b):
    result=a+b
    print("result:",result)
x=int(input())
y=int(input())
total(x,y)

20
10
result: 30

In [9]:
def total(a,b):
    result=a+b
    print("result:",result)
def diff(a,b):
    result1=a-b
    print("result2:",result1)
def div(a,b):
    result2=a/b
    print("result:",result2)
def mul(a,b):
    result3=a*b
    print("result:",result3)
a=int(input())
b=int(input())
total(a,b)
diff(a,b)
div(a,b)
mul(a,b)

20
10
result: 30
result2: 10
result: 2.0
result: 200

In [5]:
def rj(money):
    print("give vinod the sum of",money)
money=50
rj(money)

give vinod the sum of 50

In [4]:
def rj(money):
    print("give vinod the sum of",money)
rj(50)

give vinod the sum of 50

In [3]:
def rj(money):
    print("give vinod the sum of",money)
rj(5*10)

give vinod the sum of 50

In [1]:
var='brock lesnar'
def show():
    global var1
    var1='tall'
    print("in function var c is",var)
show()
print("outside fun",var1)
print("var is",var)

in function var c is brock lesnar
outside fun tall
var is brock lesnar

In [16]:
def outf():
    var=10
    def innf():
        var=20
        print("inner var",var)
    innf()
    print("outer var",var)
outf()

inner var 20
outer var 10

In [21]:
def cube(x):
    return(x*x*x)
num=10
result=cube(num)
print("output of the evaluation is",result)

output of the evaluation is 1000

In [25]:
def total(x):
    return(x)
x=(6,4,2,10,0)
result=sum(x)
print("sum:",result)

sum: 22

In [27]:
def display(str1):
    print(str1)
str1='hi'
display(str1)

hi

In [29]:
def display(name,age):
    print("name",name)
    print("age",age)
n='brock lesnar'
a=34
display(name=n,age=a)

name brock lesnar
age 34

In [33]:
def fib(n):
    if n<2:
        return 1
    return (fib(n-1)+fib(n-2))
n=int(input())
for i in range(n):
    print("fibonacci(",i,")",fib(i))

6
fibonacci( 0 ) 1
fibonacci( 1 ) 1
fibonacci( 2 ) 2
fibonacci( 3 ) 3
fibonacci( 4 ) 5
fibonacci( 5 ) 8

In [33]:
def hanoi(n, a, b, c):
    if n>0:
        hanoi(n-1, a, c, b)
        if a:
            c.append(a.pop())
        hanoi(n-1,b,a,c)
a=[1,2,3,4]
b=[]
c=[]
hanoi(len(a),a,b,c)
print(a,b,c)
print("before puzzle")
print(a,b,c)
hanoi(len(a),a,b,c)
print("after puzzle")
print(a,b,c)

[] [] [1, 2, 3, 4]
before puzzle
[] [] [1, 2, 3, 4]
after puzzle
[] [] [1, 2, 3, 4]

In [40]:
from datetime import *
d=date.today()
print(d)
d=date(2023, 2, 3)
for x in range(1,10):
    nextdate=d+timedelta(days=x)

2023-02-03

In [4]:
def fact(n):
    while(n!=0):
        r=n%10
    s=s+fact()
    n=n//10
n=int(input())
if (n==5):
    print("krishnamurthy's number")
else:
    print("not krishnamurthy's number")

145
not krishnamurthy's number